<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1><strong>Hello. Welcome to my <%= title %> page.</strong></h1>
  </div>
  <div class="aboutrow">
    <div class="aboutcolumn1">
      <div>
        <img src="/Assests/Images/andreassis.jpg" width="180px" height="250px" alt="">
      </div>
    </div>
    <div class="aboutcolumn2">
      <h2><strong>I'm Andre and this is my Portifolio</strong></h2><br>
      <p><strong>Mission Statement</strong></p>
      <p> "Create, develop and evolve always seeking excellence to deliver my best every day".</p>
    </div>
  </div>
  <div class="aboutmehomepage">
    <a href="/about"><button type="button" class="button button1">Click here to know more about me</button></a>
  </div>
</main>



<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>


